# vim
*.swo
*.swp

# tmp
*.o
*.a
*.log
*.status
/Makefile
/config.h
/configure
/autom4te.cache
/test/test
/test/git
/test/gnupg/random_seed

# bin
pwm
pwm-del
pwm-gen
pwm-get
pwm-list
pwm-log
pwm-note
pwm-note-del
pwm-note-get
pwm-note-list
pwm-note-set
pwm-set
